beautifulsoup4
amqp==2.4.0
anyjson==0.3.3
billiard==3.5.0.5
celery==4.2.1
Django==2.1.5
django-celery==3.2.2
django-celery-beat==1.4.0
django-celery-results==1.0.4
django-timezone-field==3.0
kombu==4.2.2.post1
numpy==1.16.0
psycopg2==2.7.7
python-crontab==2.3.6
python-dateutil==2.7.5
pytz==2018.9
selenium==3.141.0
six==1.12.0
TA-Lib==0.4.17
urllib3==1.24.1
vine==1.2.0
